*{
    margin:0;
    padding:0;
}

.container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    .img{
        height: 800px;        
        background-size: cover;         
        position: relative; 
        flex: 1 1;
        transition: flex-grow 0.6s, filter 0.4s;
        overflow: hidden;
        &:nth-child(1){
            background-image: url(../../img/photo-1559076717-8ff5a451e9de.jpg);
            filter: grayscale(100%) blur(2px);
            display: flex;
        }
        &:nth-child(2){
            background-image: url(../../img/photo-1559165355-a20b1f13bce9.jpg);
            filter: grayscale(100%) blur(2px);
        }
        &:nth-child(3){
            background-image: url(../../img/photo-1566282758576-d1ddfacaec59.jpg);
            filter: grayscale(100%) blur(2px);
        }
        &:nth-child(4){
            background-image: url(../../img/photo-1569199414332-49d5ae0d5fef.jpg);
            filter: grayscale(100%) blur(2px);
        }
        
        &:hover{
            flex-grow: 4;
            cursor: pointer;
            filter: none;
                  

       }
        &::before{
            content: "Lorem ipsum";
            font-family: $fontFamily;
            font-size: $fontSize;
            color: $fontColor;
            position: absolute;
            bottom: -90px;            
            left: calc(50% - 116px);
            line-height: 60px;
            opacity: 0;
            transition: 0.5s; 
        } 
        &:hover::before{
            animation: subtMove 2s linear forwards;
        } 
        &::after{
            content: "";
            width: 280px;
            position: absolute;
            bottom: 30px;            
            left: calc(50% - 140px);
            height: 60px;
            transform: scaleX(0);                      
            transition: 0.5s 1.8s;
                        
            
        }
        &:hover::after{
            transform: scaleX(1);            
            border-top: 2px solid $fontColor;
            border-bottom: 2px solid $fontColor;
        }
               
        }
    
}

@media (max-width: 900px){
    .container{
        flex-direction: column;
        height: 100vh;
        .img{
            width: 100%;
            background-position: center;
            &:hover::before{
                animation: subtMoveResponsive 2s linear forwards;
            }
            &:hover::after{
                bottom: 9px;
        }
    }
}

}

